{% extends 'layout.html' %}
{% block title %}Support{% endblock %}
{% block content %}

<div class="image-container">
  <div class="text1">SUPPORT</div>
</div>

<div class="container-sm pb-3">
    <div id="block_cont">
        <div>
            <h1 class="h2">How to use <i class="fa fa-question-circle"></i></h1>
            <div style="margin-bottom: 10px;">Steps to upload an image/video:</div>
            <p style="margin-left: 20px;">
                1. Go to upload page.<br>
                2. Click on browse and upload the desired image/video.<br>
                3. Click on Detect my mood button.<br>
                4. If you wish to save, click on Upload without a song button.<br>
                5. If you wish to add a song, click on Choose a song button.<br>
                6. Pick a song from the list and click on Upload.<br>
                7. You can find your item in the gallery.
            </p>
            <span style="color:red;"><b>Note - Allowed file extensions: png, jpg, jpeg, mp4</b></span>
        </div>
        <div style="margin-left: auto; margin-right: 0;">
            <img class="img-fluid" style="width: 300px; height: auto;" src="static/bg.png" />
        </div>
    </div>
</div>
{% endblock %}